main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 20px;
    flex-flow: row wrap;
}

    main > div {
        background-color: purple;
        margin: 5vw;
        padding: 20px;
        font-size: 30px;
        width: 60vw;
    }

.Contact {
    padding: 1vw;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

    .Partnerships {
        place-content:center;

        width: 40vw;
    }