main .main {
    background-image: url("Images/AppBackground.png");
    width: 100vw;
    height: 850px;
    margin-top: 130px;
}

main .main article {
    text-align: center;
    padding-top: 100px;
}

main .articles{
    color: black;
    margin: 20px 0px 20px 0px;
}

main .articles article {
    background-color: white;
    width: 40vw;
    margin: 20px;
}

main .Left {

}

main .Right {

}