footer{
    margin-top: 4px;
}

footer nav {
    display: flex;
    margin: auto;
    width: 75vw;
}
footer nav li{
    margin: 0px 60px 0px 60px;
}

footer div li {
    margin: 0px 30px 0px 30px;
}

    footer div {
        display: flex;
        margin: auto;
        width: 53%;
    }

    footer .Line {
        border-top: 4px solid white;
    }

footer div a{
    color: white;
}

footer div a:hover {
    color: white;
}

