header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    border-bottom: 4px solid white;
}

.Logo,
header nav,
header ul {
    display: flex;
}

header li{
    margin: auto;
    margin-right: 30px;
}

header .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
    padding: 20px 0px;
}


header .dropdown {
    color: white;
}

header .dropdown:hover {
    color: white;
}

.right {
    margin-left: 45vw;
}

header .dropdown-content ul {
    display: block;
}