main {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

.Header {
    position: relative;
    width: 100%; 
    height: 500px;
    margin-bottom: 600px;
}

.Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 220%;
    object-fit: cover; 
    z-index: 0; 
    background-image: linear-gradient(#9438C9, #63218C, black);
    padding-bottom: 100px;
}

.Header-contant {
    display: flex;
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #fff;
    margin: auto;
    width: 140%;
    padding-top: 180px;
    margin-right: 100px;
}

.Header-contant div{
    margin-left: 120px;
    margin-right: 200px;      
}

.Header-contant div p {
    font-size: 22px;
}


.info{
    display: inline-block;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 120px;
}

.infoBox{
    padding-top: 80px;
    width: 40%;
    margin-top: -15px;
}

.infoBox h2 {
    font-size: 30px;
    display: block;
    text-decoration: underline;
}

.infoBox ul{
    display: block;  
    margin-left: -40px;
}

#right{
    padding-left: 1180px;
    width: 30%;
}

#left {
    padding-left: 140px;
    width: 30%;
}

.reviews{
    width: 30%;
    margin: auto;   
    border: 1px solid black;
    text-align: center;
}

.review{
    text-align: left;
    background-color: black;
    margin: 20px;
}

