footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin-top: 5px;
}

.subPages{
    display: flex;
    font-size: 22px;
    margin: auto;
    width: 70%;
}

.subPages ul {
    list-style: none;
    margin-right: 140px;
}

.subPages ul li{
    margin: 4px;
}

.subPages ul li a{
    color: white;
}

.information {
    display: flex;
    font-size: 22px;
    margin: auto;
    width: 80%;
}

.information ul {
    list-style: none;
    margin-right: 140px;
}

.information ul li {
    margin: 4px;
}

.information ul li a {
    color: white;
}

.line{
    background-color: white;
    height: 5px;
    width: 180px;
}


